/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
public/image/Capture5.PNG
public/image/08.jpg
public/image/P1011059.JPG
public/image/Altina CSIII Wallpaper 4K.jpg
